.title {
    font-family: Consolas, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff;
}

.image {
    display: block;
    margin: 0 auto;
}

.text {
    font-family: Consolas, sans-serif;
    text-align: center;
    color: silver;
}
